<h1>New Author</h1>

<% unless flash[:error].blank? %>
  <h4 class='error'>
    <%= flash[:error] %>
  </h4>
<% end %>

<%= form_for @author do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :age %>
  <%= f.number_field :age %>
  <%= f.label :bio %>
  <%= f.text_field :bio %>
  <%= f.submit %>
<% end %>